@charset "UTF-8";

/*CSS para todas as demais midias*/

/*
Tipical device breakpoints
320px — 480px for mobile devices
481px — 768px for iPads & tablets
769px — 1024px for small screens like laptop
1025px — 1200px for large screens like Desktops
1201px and above for extra large screens like TV
*/


@media screen and (min-width:481px){
    menu{ text-align: left;}
    #ham{ display: none;}
    #itens{display:block;}
    header{ font-size: 1.6em; padding:20px}
    li{display: inline-block;}
    article{ width: 50vw;}
  
  
    
}